h1,h2,h3,h4,h5,h6{
font-family: 'Lobster', cursive;
}

.menu{
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu .logo a img{
    width: 80px;
}
.enlaces ul,
.iconos ul{
    list-style: none;
    display: flex;
}
.enlaces ul li,
.iconos ul li{
    margin-right: 10px;
}
.enlaces ul li a,
.enlaces ul li i,
.iconos ul li svg{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.enlaces ul li a:hover{
    border-bottom: 2px solid red;
    color:red;
}
.enlaces ul li a::After{
    content:"*" ;
    color:red;

}

.iconos ul li i,
.iconos ul li svg{
    background-color: red;
    padding: 5px 6px;
    border-radius: 50%;
}
.iconos ul li i:hover,
.iconos ul li svg:hover{
    background-color: white;
    color:red;

}
/*imagen principal*/
.principal{
    background:url("../imagenes/63093.jpg");
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.principal .con-texto h1{
    color:violet
    font-size 50px;
    font-weight:bold;

}
.principal .con-texto p{
    font-size: 25px;

}
.principal .con-texto a{
    background-color: violet;
    color:white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid white;
    text-decoration: none;
    font-size: 20px;
}
.principal .con-texto a:hover{
    background-color: white;
    color: violet;
    border: 2px solid violet;

}
.principal .con-texto{
    width: 300;
    text-align: center;
    margin-right: 50px;
}
/*descuento*/
.descuento,
.productos{
    width: 100%;
    height: auto;    
    display: flex;
    flex-direction: column;
   align-items: center;
}
.descuento img{
    width: 300px;
    height: auto;

}
.titulo-des h2,
.titulo-pro h2,
.titulo-ser h2{
    font-size: 50px;
    color:violet;
    text-align: center;
}
/*productos*/
.con-productos{
    width: 65%;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin: 0 auto;
}
.tarjeta{
    width: 300px;
    height: auto;
    background-color:gray;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}
.tarjeta .con-texto h3{
    font-size: 30px;
    color: black;
    font-weight:bold;
    text-align:center;
}
.tarjeta .con-texto p{
    font-size: 20px;
    text-align:center;
}
.tarjeta .botones{
    display:flex;
    justify-content: space-around;

}
.tarjeta.botones.span{
    font-size: 20px;
    font-weight: bold;
}
.tarjeta .botones a{
    padding:7px 12px;
    color: white;
    background-color: violet;
    border-radius: 10px;
    border: 1px solid black;
    text-decoration: none;
}
.tarjeta img{
    width: 100%;
    height: auto;
}
/*servicios*/
.con-servicios{
    width: 100%;
    height: auto;
}
.servicios-1,
.servicio-2{
    width: 80%;
    height: auto;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
}
.servicios-1 img,
.servicio-2 img{
    width: 50%;
}
.servicios-1.con-texto,
.servicio-2.con-texto{
    width: 50%;
}
.servicios-1.con-texto h3,
.servicio-2con-texto h3{
    font-size: 35px;
    color:violet;
    font-weight: bold;
}
.servicios-1 .con-texto p,
.servicios-1 .con-texto ul,
.servicio-2 .con-texto p,
.servicio-2 .con-texto ul{
    font-size: 20px;
    color:rgb(69,69,69);
}